/*Removes any prexisting padding or marginal space from the html and body elements.*/

html body {
	margin: 0;
	padding: 0;
	/*Remove this background-color! It is here to make sure that the css and html are linked.*/
	background-color: snow;
}

/*Delete everything below this line! */

.tofubox {
	text-align: center;
	padding: 150px;
	color: black;
	font-size: 20px;
	font-family: Calibri;
	display: grid;
	border: 10px black solid;
	height: 350px;
	width: 350px;
	background-color: mistyrose;
	margin: 20px;
}

.lavanderbox {
	text-align: center;
	padding: 150px;
	color: black;
	font-size: 20px;
	font-family: Calibri;
	display: grid;
	border: 10px black solid;
	height: 350px;
	width: 350px;
	background-color: lavender;
	margin: 20px;
}

.matchabox {
	text-align: center;
	padding: 150px;
	color: black;
	font-size: 20px;
	font-family: Calibri;
	display: grid;
	border: 10px black solid;
	height: 350px;
	width: 350px;
	background-color: lightyellow; 
	margin: 20px;
}

h1 {
	text-align: center;
	font-size: 50px;
	font-family: Calibri;
	letter-spacing: 1em;
}


.