/*Removes any prexisting padding or marginal space from the html and body elements.*/

html body {
	margin: 0;
	padding: 0;
	/*Remove this background-color! It is here to make sure that the css and html are linked.*/
	background-color: white;
}

/*Remove this h1 Rule! */

p {
	text-align: left;
	padding: 40px;
	color: black;
	font-size: 40px;
	font-family: "Lorem ipsum";
	border: 60px dashed yellow bold;
	margin: 100px;
}